# NPM configuration settings
cache=C:\Users\eldno\.npm
# prefix=C:\\Users\\eldno\\AppData\\Roaming\\npm  (Denne linjen er kommentert ut for å unngå konflikter)
fund=false
audit=true
loglevel=notice

# Customize registry if needed
# registry=https://registry.npmjs.org/

# Enable progress bars
progress=true

# Save exact versions by default
save-exact=true

# Server testing configurations
local-server-port=3000
open-browser=true
cache-bust=true
# security-protocol=MINIMAL_INTERFERENCE # Kommentar: Åpner for Den Usynlige Hånds observasjon
